@charset "UTF-8";

@font-face {
	font-family: 'GowunDodum-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	background-color: #FAF7F5;
}

html>body {
	background-color: #FAF7F5;
	font-family: 'GowunDodum-Regular', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header>div>ul>li {
	margin-right: 30px;
}

/* 네비게이션 2차메뉴 */
header>div>ul>li>ul>li {
	padding-bottom: 30px;
}

header>div>ul>li>ul {

	display: none;
	position: absolute;
}

header>div>ul>li:hover>ul {
	display: block;
}

